[submodule "LabSound"]
	path = LabSound
	url = git@github.com:rsenn/LabSound.git
[submodule "stk"]
	path = stk
	url = git@github.com:rsenn/stk.git
[submodule "sndobj"]
	path = sndobj
	url = git@github.com:rsenn/sndobj.git
[submodule "libsndfile"]
	path = libsndfile
	url = git@github.com:rsenn/libsndfile.git
