[submodule "LabSound"]
	path = third_party/LabSound
	url = git@github.com:rsenn/LabSound.git
[submodule "stk"]
	path = third_party/stk
	url = git@github.com:rsenn/stk.git
[submodule "sndobj"]
	path = third_party/sndobj
	url = git@github.com:rsenn/sndobj.git
[submodule "libsndfile"]
	path = third_party/libsndfile
	url = git@github.com:rsenn/libsndfile.git
[submodule "third_party/dsp"]
	path = third_party/dsp
	url = https://github.com/Signalsmith-Audio/dsp.git
[submodule "third_party/aubio"]
	path = third_party/aubio
	url = https://github.com/aubio/aubio.git
[submodule "third_party/miniaudio"]
	path = third_party/miniaudio
	url = git@github.com:mackron/miniaudio.git
[submodule "third_party/portaudio"]
	path = third_party/portaudio
	url = https://github.com/PortAudio/portaudio.git
[submodule "third_party/portmidi"]
	path = third_party/portmidi
	url = https://github.com/PortMidi/portmidi.git
[submodule "third_party/libsamplerate"]
	path = third_party/libsamplerate
	url = https://github.com/libsndfile/libsamplerate.git
[submodule "third_party/soundtouch"]
	path = third_party/soundtouch
	url = https://codeberg.org/soundtouch/soundtouch.git
[submodule "third_party/rubberband"]
	path = third_party/rubberband
	url = https://github.com/breakfastquay/rubberband.git
